{% extends "otree_redwood/Page.html" %}
{% load otree static %}

{% block title %}
    Rational Inattention 
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'rational_inattention/rational_inattention.js' %}"></script>
    <script src="{% static 'rational_inattention/highcharts.js' %}"></script>
{% endblock %}

{% block content %}
    <h4>Round #{{ round_num }}</h4>
    <p><strong>Your total wealth:</strong> {{ Constants.endowment }}</p>
    <rational-inattention
        default-prob="{{ subsession.default_probability }}"
        initial-credits="{{ Constants.endowment }}"
    ></rational-inattention>
    {% next_button %}

{% endblock %}
